@tailwind base;
@tailwind components;
@tailwind utilities;
.myCls{
    align-items: center;
    display: flex !important;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.flex-grow{
    /* background-color: #e1ddee; */
}